/*Version mobile -768px */
/* color / body / img / text */
@media screen and (max-width: 768px) {
  body {
    font-family: "Roboto", Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0px;
  }
  a {
    text-decoration: none;
  }
  /* header / main / footer */
  header #logo_ohmyfood {
    border: 20px solid white;
    background-color: white;
    display: flex;
    width: 28%;
    padding: 0% 63% 0% 5%;
    margin-left: -5%;
    box-shadow: 2px 2px 5px #c4c4c4;
  }
  header #logo_ohmyfood img {
    width: 110%;
    height: 90%;
    padding-left: 30%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  header #logo_ohmyfood i {
    color: #353535;
    font-size: 1.4em;
    padding-right: 90px;
    padding-left: 15px;
    padding-top: 3px;
  }
  header #img_gout img {
    width: 100%;
  }
  main {
    background-color: #F6F6F6;
  }
  main #gout {
    display: flex;
    width: 98%;
    border: 5px solid #F6F6F6;
    background-color: #F6F6F6;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
  }
  main #gout h1 {
    text-align: center;
    margin-left: 15%;
  }
  main #gout i {
    font-size: 130%;
    padding-left: 18%;
    padding-top: 6%;
  }
  main .main-starter {
    width: 100%;
    background-color: #F6F6F6;
  }
  main .main-starter h2 {
    padding-top: 5%;
    padding-left: 11%;
  }
  main .main-starter .main-starter_choice {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 5px solid white;
    background-color: white;
    border-radius: 30px;
    margin-left: 2%;
    margin-right: 3%;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #c4c4c4;
  }
  main .main-starter .main-starter_choice:hover {
    border-color: #F5EDFF;
    background-color: #F5EDFF;
  }
  main .main-starter .main-starter_choice h3 {
    color: black;
    margin-left: 6%;
  }
  main .main-starter .main-starter_choice p {
    color: black;
    border-radius: 20px;
    margin-right: 8%;
    padding-left: 4px;
    padding-right: 4px;
  }
  main .main-starter .main-starter_choice h4 {
    color: black;
  }
  main .main-dish {
    width: 90%;
    height: 450px;
    margin-left: 5%;
    background-color: #F6F6F6;
  }
  main .main-dish h2 {
    padding-top: 5%;
    padding-left: 11%;
  }
  main .main-dish .main-dish_choice {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 5px solid white;
    background-color: white;
    border-radius: 30px;
    margin-left: 2%;
    margin-right: 3%;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #c4c4c4;
  }
  main .main-dish .main-dish_choice:hover {
    border-color: #F5EDFF;
    background-color: #F5EDFF;
  }
  main .main-dish .main-dish_choice h3 {
    color: black;
    margin-left: 6%;
  }
  main .main-dish .main-dish_choice p {
    color: black;
    border-radius: 20px;
    margin-right: 8%;
    padding-left: 4px;
    padding-right: 4px;
  }
  main .main-dish .main-dish_choice h4 {
    color: black;
  }
  main .main-dessert {
    width: 90%;
    height: 450px;
    margin-left: 5%;
    background-color: #F6F6F6;
  }
  main .main-dessert h2 {
    padding-top: 5%;
    padding-left: 11%;
  }
  main .main-dessert .main-dessert_choice {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 5px solid white;
    background-color: white;
    border-radius: 30px;
    margin-left: 2%;
    margin-right: 3%;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #c4c4c4;
  }
  main .main-dessert .main-dessert_choice:hover {
    border-color: #F5EDFF;
    background-color: #F5EDFF;
  }
  main .main-dessert .main-dessert_choice h3 {
    color: black;
    margin-left: 6%;
  }
  main .main-dessert .main-dessert_choice p {
    color: black;
    border-radius: 20px;
    margin-right: 8%;
    padding-left: 4px;
    padding-right: 4px;
  }
  main .main-dessert .main-dessert_choice h4 {
    color: black;
  }
  main .button {
    width: 90%;
    height: 160px;
    margin-top: 6%;
  }
  main .button .purple_button {
    text-align: center;
    color: white;
    border: 18px solid #FF79DA;
    border-radius: 30px;
    height: 30%;
    width: 40%;
    background-color: #FF79DA;
    box-shadow: 2px 2px 5px #c4c4c4;
    margin-left: 100px;
    padding-left: 10%;
    padding-right: 10%;
  }
  footer {
    width: 100%;
    height: 300px;
    text-align: start;
    background-color: #353535;
  }
  footer .footer_block {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-bottom: -20px;
  }
  footer img {
    width: 40%;
    height: 90%;
    padding: 10% 6% 3% 5%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  footer h4 {
    font-size: 1em;
    color: white;
    margin-left: 3%;
  }
  footer h5 {
    font-size: 1em;
    color: white;
    margin-left: 5%;
  }
}/*# sourceMappingURL=ohmyfood_gout.css.map */