/*Version Ordinateur +992px*/
/* header / main / footer */
h1 {
  font-family: "Shrikhand", Arial, sans-serif;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  margin: 0px;
}

a {
  text-decoration: none;
}

/* header / main / footer */
header {
  width: auto;
  height: auto;
  justify-content: center;
  background-color: white;
}
header #logo_ohmyfood {
  width: auto;
  height: 15%;
  border: 20px solid #F6F6F6;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 5px #c4c4c4;
}
header #logo_ohmyfood img {
  background-color: #F6F6F6;
  width: 300px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
header #logo_ohmyfood i {
  color: #353535;
  font-size: 1.4em;
  padding-right: 20px;
  padding-left: 0px;
  padding-top: 13px;
  position: absolute;
  left: 20px;
}
header #logo_ohmyfood i:hover {
  color: #9356DC;
}
header #img_gout {
  margin-top: 2px;
}
header #img_gout img {
  width: 100%;
  height: 460px;
  -o-object-fit: cover;
     object-fit: cover;
}
header #gout {
  width: auto;
  display: flex;
  justify-content: center;
  border: 20px solid white;
  background-color: white;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-left: 0%;
}
header #gout h1 {
  font-size: 3em;
  text-align: start;
}
header #gout i {
  color: #353535;
  font-size: 2.5em;
  padding-left: 6%;
  padding-top: 45px;
}

main {
  width: auto;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding-top: 10px;
}

h2 {
  font-size: 1.2em;
  text-align: start;
  padding-top: 5%;
  padding-left: 0%;
  font-weight: lighter;
}

h3 {
  color: black;
  margin-bottom: 0%;
}

p {
  color: black;
  margin-top: 3%;
}

h4 {
  margin-top: 10px;
  padding-top: 0%;
  color: black;
}

.main-starter {
  width: auto;
  text-align: center;
  background-color: white;
  margin-left: 10%;
}

.main-starter_choice {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  border: 5px solid #F6F6F6;
  background-color: #F6F6F6;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px #c4c4c4;
  transform: scale(1);
  transition: all 400ms;
}
.main-starter_choice:hover {
  border-color: #F5EDFF;
  background-color: #F5EDFF;
  transform: scale(1.05);
  box-shadow: 2px 2px 5px #8e8d8d;
}
.main-starter_choice .main-starter_text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-dish {
  width: auto;
  text-align: center;
  background-color: white;
  margin-left: 10%;
}

.main-dish_choice {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  border: 5px solid #F6F6F6;
  background-color: #F6F6F6;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px #c4c4c4;
  transform: scale(1);
  transition: all 400ms;
}
.main-dish_choice:hover {
  border-color: #F5EDFF;
  background-color: #F5EDFF;
  transform: scale(1.05);
  box-shadow: 2px 2px 5px #8e8d8d;
}
.main-dish_choice .main-dish_text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-dessert {
  width: auto;
  text-align: center;
  background-color: white;
  margin-left: 10%;
}

.main-dessert_choice {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  border: 5px solid #F6F6F6;
  background-color: #F6F6F6;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px #c4c4c4;
  transform: scale(1);
  transition: all 400ms;
}
.main-dessert_choice:hover {
  border-color: #F5EDFF;
  background-color: #F5EDFF;
  transform: scale(1.05);
  box-shadow: 2px 2px 5px #8e8d8d;
}
.main-dessert_choice .main-dessert_text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button {
  text-align: center;
  height: 160px;
  margin-top: 6%;
  margin-left: 0%;
}
.button .purple_button {
  text-align: center;
  color: white;
  border: 0px solid;
  background: rgb(147, 86, 220);
  border-radius: 30px;
  height: 30%;
  width: 30%;
  background: rgb(147, 86, 220);
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  padding: 20px 70px 20px 70px;
  box-shadow: 2px 2px 5px #c4c4c4;
  margin-left: 50px;
  transform: scale(1);
  transition: all 400ms;
}
.button .purple_button:hover {
  transform: scale(1.15);
  box-shadow: 2px 2px 5px #8e8d8d;
}

footer {
  width: auto;
  height: 270px;
  text-align: start;
  border: 30px solid #353535;
  background-color: #353535;
  padding-left: 60px;
}
footer .footer_block {
  display: flex;
  align-items: center;
  margin-left: 0px;
  margin-bottom: -15px;
}
footer img {
  width: 300px;
  padding: 10px 0px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
footer h4 {
  font-size: 1em;
  color: white;
  margin-left: 15px;
  padding-top: 10px;
}
footer h5 {
  font-size: 1em;
  color: white;
  margin-left: 0px;
}

/*Version tablette 768px / 992px*/
/*Version mobile -768px */
/* color / body / img / text */
@media screen and (max-width: 768px) {
  /* header / main / footer */
  header {
    position: relative;
  }
  header #logo_ohmyfood {
    border: 20px solid white;
    background-color: white;
  }
  header #logo_ohmyfood img {
    background-color: white;
  }
  header #img_gout {
    margin-top: 1px;
  }
  header #gout {
    width: 94%;
    display: flex;
    justify-content: flex-start;
    border: 20px solid #F6F6F6;
    background-color: #F6F6F6;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    position: absolute;
    top: 450px;
  }
  header #gout h1 {
    font-size: 2.3em;
    margin-left: 15%;
  }
  header #gout i {
    font-size: 2em;
    padding-left: 10%;
    padding-top: 33px;
  }
  main {
    flex-direction: column;
    background-color: #F6F6F6;
    padding-top: 0px;
  }
  main h2 {
    text-align: start;
    padding-left: 5%;
  }
  main p {
    margin-top: 2%;
  }
  main h4 {
    position: absolute;
    left: 90%;
  }
  main .main-starter {
    width: 100%;
    background-color: #F6F6F6;
    padding-top: 0px;
  }
  main .main-starter .main-starter_choice {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    border: 5px solid white;
    background-color: white;
    margin-left: 2%;
    margin-right: 3%;
  }
  main .main-starter .main-starter_choice .main-starter_text {
    margin-left: 10px;
    text-align: start;
  }
  main .main-dish {
    width: 100%;
    background-color: #F6F6F6;
    padding-top: 0px;
  }
  main .main-dish .main-dish_choice {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    border: 5px solid white;
    background-color: white;
    margin-left: 2%;
    margin-right: 3%;
  }
  main .main-dish .main-dish_choice .main-dish_text {
    margin-left: 10px;
    text-align: start;
  }
  main .main-dessert {
    width: 100%;
    background-color: #F6F6F6;
    padding-top: 0px;
  }
  main .main-dessert .main-dessert_choice {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    border: 5px solid white;
    background-color: white;
    margin-left: 2%;
    margin-right: 3%;
  }
  main .main-dessert .main-dessert_choice .main-dessert_text {
    margin-left: 10px;
    text-align: start;
  }
  main .button {
    width: 90%;
    margin-left: 10%;
  }
  footer {
    padding-left: 10px;
  }
  footer .footer_block {
    display: flex;
    align-items: center;
    margin-left: 0px;
    margin-bottom: -15px;
  }
}/*# sourceMappingURL=ohmyfood_gout.css.map */