/*Version Ordinateur +992px*/
/* header / main / footer */
h1 {
  font-family: "Shrikhand", Arial, sans-serif;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0px;
}

a {
  text-decoration: none;
}

/* header / main / footer */
header {
  width: auto;
  height: auto;
  justify-content: center;
  background-color: white;
  position: relative;
}
header #logo_ohmyfood {
  width: auto;
  height: 15%;
  border: 20px solid #F6F6F6;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 5px #c4c4c4;
}
header #logo_ohmyfood img {
  background-color: #F6F6F6;
  width: 300px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
header #logo_ohmyfood i {
  color: #353535;
  font-size: 1.4em;
  padding-right: 20px;
  padding-left: 0px;
  padding-top: 13px;
  position: absolute;
  left: 20px;
}
header #img_francaise {
  margin-top: 2px;
}
header #img_francaise img {
  width: 100%;
  height: 460px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
}
header #francaise {
  width: 97%;
  display: flex;
  justify-content: center;
  border: 20px solid white;
  background-color: white;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-left: 0%;
}
header #francaise h1 {
  font-size: 3em;
  text-align: start;
}
header #francaise i {
  color: #353535;
  font-size: 2.5em;
  padding-left: 6%;
  padding-top: 45px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  padding-top: 10px;
}

h2 {
  font-size: 1.2em;
  text-align: center;
  padding-top: 5%;
  padding-left: 0%;
  font-weight: lighter;
}

h3 {
  color: black;
  margin-bottom: 0%;
}

p {
  color: black;
  margin-top: 3%;
}

h4 {
  margin-top: 10px;
  padding-top: 0%;
  color: black;
}

.main-starter {
  text-align: center;
  justify-content: center;
  width: 30%;
  background-color: white;
  padding-left: 20px;
}

.main-starter_choice {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  border: 5px solid #F6F6F6;
  background-color: #F6F6F6;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px #c4c4c4;
}
.main-starter_choice:hover {
  border-color: #F5EDFF;
  background-color: #F5EDFF;
}
.main-starter_choice .main-starter_text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-dish {
  text-align: center;
  justify-content: center;
  width: 30%;
  background-color: white;
  padding-left: 20px;
}

.main-dish_choice {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  border: 5px solid #F6F6F6;
  background-color: #F6F6F6;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px #c4c4c4;
}
.main-dish_choice:hover {
  border-color: #F5EDFF;
  background-color: #F5EDFF;
}
.main-dish_choice .main-dish_text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-dessert {
  text-align: center;
  justify-content: center;
  width: 30%;
  background-color: white;
  padding-left: 20px;
}

.main-dessert_choice {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  border: 5px solid #F6F6F6;
  background-color: #F6F6F6;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px #c4c4c4;
}
.main-dessert_choice:hover {
  border-color: #F5EDFF;
  background-color: #F5EDFF;
}
.main-dessert_choice .main-dessert_text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button {
  text-align: center;
  height: 160px;
  margin-top: 6%;
  margin-left: 0%;
}
.button .purple_button {
  text-align: center;
  color: white;
  border: 0px solid;
  background: rgb(147, 86, 220);
  border-radius: 30px;
  height: 30%;
  width: 30%;
  background: rgb(147, 86, 220);
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  padding: 20px 70px 20px 70px;
  box-shadow: 2px 2px 5px #c4c4c4;
}

footer {
  width: auto;
  height: 220px;
  text-align: start;
  border: 30px solid #353535;
  background-color: #353535;
  padding-left: 40px;
}
footer .footer_block {
  display: flex;
  align-items: center;
  margin-left: 0px;
  margin-bottom: -15px;
}
footer img {
  width: 300px;
  padding: 10px 0px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
footer h4 {
  font-size: 1em;
  color: white;
  margin-left: 15px;
}
footer h5 {
  font-size: 1em;
  color: white;
  margin-left: 0px;
}

/*Version tablette 768px / 992px*/
/*Version mobile -768px */
/* color / body / img / text */
@media screen and (max-width: 768px) {
  h1 {
    font-family: "Shrikhand", Arial, sans-serif;
  }
  body {
    font-family: "Roboto", Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0px;
  }
  a {
    text-decoration: none;
  }
  /* header / main / footer */
  header {
    width: auto;
    height: auto;
    justify-content: center;
    background-color: white;
  }
  header #logo_ohmyfood {
    width: auto;
    height: 15%;
    border: 20px solid white;
    background-color: white;
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 2px 2px 5px #c4c4c4;
  }
  header #logo_ohmyfood img {
    background-color: white;
    width: 300px;
    height: 50px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  header #logo_ohmyfood i {
    color: #353535;
    font-size: 1.4em;
    padding-right: 20px;
    padding-left: 0px;
    padding-top: 13px;
    position: absolute;
    left: 20px;
  }
  header #img_francaise {
    margin-top: 1px;
  }
  header #img_francaise img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  header #francaise {
    display: flex;
    justify-content: flex-start;
    border: 20px solid #F6F6F6;
    background-color: #F6F6F6;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
  }
  header #francaise h1 {
    font-size: 2.5em;
    text-align: start;
    margin-left: 15%;
  }
  header #francaise i {
    font-size: 2em;
    padding-left: 18%;
    padding-top: 40px;
  }
  main {
    flex-direction: column;
    background-color: #F6F6F6;
    padding-top: 0px;
  }
  main h2 {
    font-size: 1.2em;
    text-align: start;
    padding-top: 5%;
    padding-left: 5%;
    font-weight: lighter;
  }
  main h3 {
    color: black;
    margin-bottom: 0%;
  }
  main p {
    color: black;
    margin-top: 2%;
  }
  main h4 {
    position: absolute;
    left: 90%;
    color: black;
  }
  main .main-starter {
    width: 100%;
    background-color: #F6F6F6;
    padding-top: 0px;
  }
  main .main-starter .main-starter_choice {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    position: relative;
    border: 5px solid white;
    background-color: white;
    border-radius: 20px;
    margin-left: 2%;
    margin-right: 3%;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #c4c4c4;
  }
  main .main-starter .main-starter_choice:hover {
    border-color: #F5EDFF;
    background-color: #F5EDFF;
  }
  main .main-starter .main-starter_choice .main-starter_text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    text-align: start;
  }
  main .main-dish {
    width: 100%;
    background-color: #F6F6F6;
    padding-top: 0px;
  }
  main .main-dish .main-dish_choice {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    position: relative;
    border: 5px solid white;
    background-color: white;
    border-radius: 20px;
    margin-left: 2%;
    margin-right: 3%;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #c4c4c4;
  }
  main .main-dish .main-dish_choice:hover {
    border-color: #F5EDFF;
    background-color: #F5EDFF;
  }
  main .main-dish .main-dish_choice .main-dish_text {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  main .main-dessert {
    width: 100%;
    background-color: #F6F6F6;
    padding-top: 0px;
  }
  main .main-dessert .main-dessert_choice {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    position: relative;
    border: 5px solid white;
    background-color: white;
    border-radius: 20px;
    margin-left: 2%;
    margin-right: 3%;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #c4c4c4;
  }
  main .main-dessert .main-dessert_choice:hover {
    border-color: #F5EDFF;
    background-color: #F5EDFF;
  }
  main .main-dessert .main-dessert_choice .main-dessert_text {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  main .button {
    width: 90%;
    height: 160px;
    margin-top: 6%;
    margin-left: 10%;
  }
  main .button .purple_button {
    text-align: center;
    color: white;
    border: 0px solid;
    background: rgb(147, 86, 220);
    border-radius: 30px;
    height: 30%;
    width: 30%;
    background: rgb(147, 86, 220);
    background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
    padding: 20px 70px 20px 70px;
    box-shadow: 2px 2px 5px #c4c4c4;
  }
  footer {
    width: auto;
    height: 220px;
    text-align: start;
    border: 30px solid #353535;
    background-color: #353535;
    padding-left: 10px;
  }
  footer .footer_block {
    display: flex;
    align-items: center;
    margin-left: 0px;
    margin-bottom: -15px;
  }
  footer img {
    width: 300px;
    padding: 10px 0px 0px 0px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  footer h4 {
    font-size: 1em;
    color: white;
    margin-left: 15px;
  }
  footer h5 {
    font-size: 1em;
    color: white;
    margin-left: 0px;
  }
}/*# sourceMappingURL=ohmyfood_francaise.css.map */