/*Version mobile -768px */

@media screen and (max-width: 768px) {

body 
{
    margin: 0px;
}
header
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
      img {
        border: 20px solid white;
        width: 40%;
        height: 90%;
        object-fit: cover;
        padding: 2% 30% 2% 25%;
        box-shadow: 2px 2px 5px #c4c4c4;
      }
      #map
      {
        display: flex;
        align-items: center;
        padding: 2% 40% 2% 30%;
         p {
            margin-left: 3%;
         }
      }

}
}   
/*Version tablette 768px / 992px*/

/*Version Ordinateur +992px*/
