/*Version Ordinateur +992px*/
/*Version tablette 768px / 992px*/
body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

/* header / main / footer */
header {
  width: 100%;
  height: 370px;
  justify-content: center;
  text-align: center;
  background-color: #F7F7F7;
}
header #logo_ohmyfood {
  width: auto;
  height: 15%;
  border: 20px solid white;
  background-color: white;
  box-shadow: 2px 2px 5px #c4c4c4;
}
header #logo_ohmyfood img {
  background-color: white;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}
header #map {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
  background-color: #EDEDED;
}
header #map i {
  margin-right: 10px;
}
header #map p {
  text-align: center;
  margin: 0% 0% 0% 0%;
}
header h1 {
  font-size: 2em;
}
header p {
  font-size: 1em;
  margin-bottom: 55px;
}
header .purple_button {
  color: white;
  border: 0px solid;
  background: rgb(147, 86, 220);
  border-radius: 30px;
  height: 30%;
  width: 30%;
  background: rgb(147, 86, 220);
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  padding: 20px 20px 20px 20px;
  box-shadow: 2px 2px 5px #c4c4c4;
}
header .purple_button strong {
  font-size: 1em;
}

.main-block1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  background-color: white;
  margin-bottom: 5%;
  margin-left: 20px;
  margin-right: 150px;
}
.main-block1 h2 {
  padding-top: 5%;
  padding-left: 3%;
  padding-right: 70%;
}
.main-block1 .main-block_operation {
  width: 70%;
  min-width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  border: 10px solid #F7F7F7;
  background-color: #F7F7F7;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
  box-shadow: 2px 2px 5px #c4c4c4;
}
.main-block1 .main-block_operation:hover {
  border-color: #F5EDFF;
  background-color: #F5EDFF;
}
.main-block1 .main-block_operation h4 {
  color: black;
  margin-left: 20px;
}
.main-block1 .main-block_operation p {
  position: absolute;
  color: white;
  background: rgb(147, 86, 220);
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  padding: 10px 14px 10px 14px;
  border-radius: 30px;
  margin-right: 20px;
  box-shadow: 2px 2px 5px #c4c4c4;
}
.main-block1 .main-block_operation i {
  color: #7E7E7E;
  text-align: center;
  margin-left: 50px;
}
.main-block1 .main-block_operation i:hover {
  color: #9356DC;
}

.main-block2 {
  width: 90%;
  height: 50%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
}
.main-block2 h2 {
  padding-top: 2%;
  padding-left: 6%;
}

.main-block_restaurant {
  width: 50%;
  height: 260px;
  display: flex;
  flex-wrap: wrap;
  color: black;
  text-decoration: none;
  border-radius: 30px;
  margin-left: 5%;
  margin-right: 0%;
  margin-bottom: 25px;
  box-shadow: 2px 2px 5px #c4c4c4;
}
.main-block_restaurant:hover {
  border-color: #F5EDFF;
  background-color: #F5EDFF;
}
.main-block_restaurant img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.main-block_restaurant h3 {
  margin: 5px 25px 0px 25px;
}
.main-block_restaurant p {
  border-radius: 20px;
  margin: 25px 70px 5px 25px;
  margin-top: -1px;
}
.main-block_restaurant i {
  font-size: 1.4em;
  padding-left: 85%;
  margin-top: -53px;
  text-align: center;
}

footer {
  width: 100%;
  height: 400px;
  text-align: start;
  background-color: #353535;
}
footer .footer_block {
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-bottom: -5px;
}
footer img {
  padding: 5% 6% 3% 5%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer h4 {
  font-size: 1em;
  color: white;
  margin-left: 3%;
}
footer h5 {
  font-size: 1em;
  color: white;
  margin-left: 5%;
}

/*Version tablette 768px / 992px*/
/*Version mobile -768px */
/* color / body / img / text */
@media screen and (max-width: 768px) {
  body {
    font-family: "Roboto", Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  main img {
    width: 40%;
    height: 90%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  /* header / main / footer */
  header {
    width: 100%;
    height: 370px;
    justify-content: center;
    text-align: center;
    background-color: #F7F7F7;
  }
  header #logo_ohmyfood {
    width: 100%;
    height: 15%;
    border: 20px solid white;
    background-color: white;
    box-shadow: 2px 2px 5px #c4c4c4;
  }
  header #logo_ohmyfood img {
    background-color: white;
    height: 90%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  header #map {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDEDED;
  }
  header #map i {
    margin-right: 10px;
  }
  header #map p {
    text-align: center;
    margin: 0% 0% 0% 0%;
  }
  header h1 {
    font-size: 1.8em;
  }
  header p {
    font-size: 1em;
    margin-bottom: 55px;
  }
  header .purple_button {
    color: white;
    border: 0px solid;
    background: rgb(147, 86, 220);
    border-radius: 30px;
    height: 30%;
    width: 30%;
    background: rgb(147, 86, 220);
    background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
    padding: 20px 20px 20px 20px;
    box-shadow: 2px 2px 5px #c4c4c4;
  }
  header .purple_button strong {
    font-size: 1em;
  }
  .main-block1 {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
  }
  .main-block1 h2 {
    padding-top: 5%;
    padding-left: 11%;
    margin-right: 0%;
  }
  .main-block1 .main-block_operation {
    width: 70%;
    min-width: 300px;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: baseline;
    border: 5px solid #F7F7F7;
    background-color: #F7F7F7;
    border-radius: 30px;
    margin-left: 8%;
    margin-right: 10%;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #c4c4c4;
  }
  .main-block1 .main-block_operation:hover {
    border-color: #F5EDFF;
    background-color: #F5EDFF;
  }
  .main-block1 .main-block_operation h4 {
    color: black;
    margin-left: 20px;
  }
  .main-block1 .main-block_operation p {
    position: absolute;
    left: 35px;
    color: white;
    background: rgb(147, 86, 220);
    background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
    padding: 10px 14px 10px 14px;
    border-radius: 30px;
    margin-right: 20px;
    box-shadow: 2px 2px 5px #c4c4c4;
  }
  .main-block1 .main-block_operation i {
    color: #7E7E7E;
    text-align: center;
    margin-left: 50px;
  }
  .main-block1 .main-block_operation i:hover {
    color: #9356DC;
  }
  .main-block2 {
    width: 100%;
    height: 1300px;
    flex-direction: column;
    background-color: #F7F7F7;
    margin-left: 5%;
  }
  .main-block2 h2 {
    padding-top: 5%;
    padding-left: 11%;
  }
  .main-block2 .main-block_restaurant {
    width: 300px;
    height: 260px;
    display: flex;
    flex-wrap: wrap;
    color: black;
    text-decoration: none;
    border: 2px solid white;
    background-color: white;
    border-radius: 30px;
    margin-left: 8%;
    margin-bottom: 25px;
    box-shadow: 2px 2px 5px #c4c4c4;
  }
  .main-block2 .main-block_restaurant:hover {
    border-color: #F5EDFF;
    background-color: #F5EDFF;
  }
  .main-block2 .main-block_restaurant img {
    width: 100%;
    height: 170px;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .main-block2 .main-block_restaurant h3 {
    margin: 5px 20px 0px 25px;
  }
  .main-block2 .main-block_restaurant p {
    border-radius: 20px;
    margin: 25px 270px 5px 25px;
    margin-top: -1px;
  }
  .main-block2 .main-block_restaurant i {
    font-size: 1.6em;
    padding-left: 85%;
    margin-top: -53px;
    text-align: center;
  }
  footer {
    width: 100%;
    height: 300px;
    text-align: start;
    background-color: #353535;
  }
  footer .footer_block {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-bottom: -20px;
  }
  footer img {
    width: 40%;
    height: 90%;
    padding: 10% 6% 3% 5%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  footer h4 {
    font-size: 1em;
    color: white;
    margin-left: 3%;
  }
  footer h5 {
    font-size: 1em;
    color: white;
    margin-left: 5%;
  }
  footer {
    width: 100%;
    height: 400px;
    text-align: start;
    justify-content: flex-start;
    background-color: #353535;
  }
  footer #logo_ohmyfood2 {
    width: auto;
    height: 15%;
    border: 20px solid #353535;
    background-color: #353535;
  }
  footer #logo_ohmyfood2 img {
    width: auto;
    height: 90%;
    background-color: #353535;
    padding-top: 2%;
    padding-left: 2%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  footer .footer_block {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-bottom: -5px;
  }
  footer h4 {
    font-size: 1em;
    color: white;
    margin-left: 3%;
  }
  footer h5 {
    font-size: 1em;
    color: white;
    margin-left: 5%;
  }
}/*# sourceMappingURL=ohmyfood_accueil.css.map */